<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{55,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{51,49}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{53,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,54}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{55,55}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>zombiex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,204},{30,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{30,42}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>zombiex10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{32,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{32,41}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>zombiex11.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,172},{30,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,43}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>zombiex12.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,116},{31,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{31,42}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>zombiex13.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,90},{21,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{21,41}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>zombiex14.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,196},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,38}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>zombiex15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,46},{20,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>zombiex16.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,156},{27,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>zombiex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,113},{31,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{31,41}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>zombiex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,160},{30,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,42}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>zombiex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,40}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>zombiex5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{21,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{21,42}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>zombiex6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{27,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{27,40}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>zombiex7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,46},{20,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>zombiex8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,225},{27,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,39}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>zombiex9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,45},{30,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,41}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombiex.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b3d3674ce0b3a0c9519b4fa60a07bf$</string>
            <key>textureFileName</key>
            <string>zombiex.png</string>
        </dict>
    </dict>
</plist>
